:root {
  --bg-dark: #242525;
  --bg-grey: #333;
  --bg-grey-button: #808181;
  --bg-green-button: #018101; 
  --bg-blue-button: #027AFE; 
  --border-grey: #424243;
  --text-light: #E2E3E2;
  --text-white: #FFF;
}
